@media (min-width: 830px) and (max-width: 840px){
    .up{
        position: flex;
        justify-content: center;
        height: 400px;
        text-align: center;
        margin-left: 170px;
    }

}

@media (min-width: 816px)
and (max-width: 829px){
    .up{
        position: relative;
        justify-content: center;
        height: 400px;
        text-align: center;
        margin-left: 150px;
    }

}

@media  (min-width: 400px)
  and (max-width: 815px)
   {
    .up{
        
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        
        border-radius:0 0 5% 5%;
       
        
    }
}

.up{

    justify-content: space-around;
    width: 100%;
    height: 450px;
    position: relative;
    border-radius:0 0 5% 5%;
    background-color: rgba(248, 242, 242, 0.858);
    
}



.circulo{
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 0 0 100% 100%;
    background-color: rgba(24, 138, 134, 0.578) ;
   
    
}
.nombre{
    position: relative;
    font-size: 23px;
}
.img{
    width: 200px;
    height: 200px;
    position:relative;
    border-radius: 5%;
    
}
