.superior{
    background-color:#0fcaae ;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.input{
   /*  font-family:Verdana,Helvetica;
    font-size:10pt;
    width: 300px;
    color:#696969;
    padding: 5px 7px 5px 7px;
    border:1px solid #0000FF;
    background:#FFF;
    /* -webkit-border-radius: 25px; */
    /* -moz-border-radius: 25px; */
    border-radius: 15px; 
   
       margin-bottom: 15px;
        font-family: "Roboto", sans-serif;
        width: 100%;
       
        box-sizing: border-box; 
        border: none; 
        color: #525c66; 
        font-size: 1em;
        resize: none; 
       
      
}
.li{
    color: white;
}
.letras{
    font-size:large;
    font-weight:600;
    
    color: white;
}
.h1{
    color: white;
}
.form{
    padding: 60px;
    max-width: 400px;
    background-color: #0fcaae;
    margin: 0 auto;
    border-radius: 5%;
  }
  
.buttonCrear {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
}

.buttonCrear:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}
.temperamentos{
    display: flex;
    color: #ffffff;
justify-content: space-evenly;
border: 1px #d2f1ed solid ;
padding-left: 10px;
padding-right: 5px;
}
.divTemperamentos{
    display: flex;
    justify-content: space-around;
    
}
.button {
    font-size: 20px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
    
}

.button:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}