.image{
    width: 400px;
    height: 400px;
    
    border: 10px solid  rgba(24, 138, 134, 0.578);
    
}

.card{
 
        
       display: flex;
       justify-content: center;
        
        
  
    
}
/* .circulo{
    margin: 3%;
    position: absolute;
    height: 100%;
    width: 100%;
    
    background-color: rgba(138, 32, 24, 0.205) ;
} */
.primer{
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color:  rgba(248, 244, 242, 0.858) ;
    position: relative;
    padding: 3%;
    margin: 3%;
    border-radius:3% 3% 5% 5%;
}


.button {
    font-size: 20px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
}

.button:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}