.card {
    display: grid;
    grid-template-columns: repeat(auto-fill,350px);
    justify-content: space-between;
    margin: 70px;
    padding-bottom: 20px;
    font-size: 15px;  
   
}


.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
}

.button:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}


.navBar{
    background-color: #0fcaae;
    display: flex;
    justify-content: center;
    
}

.ordenado{
    margin-left: 30px;
}
