@media screen and (max-width: 840px){
    .card{
        background-color: rgb(204, 76, 50);
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        justify-content: space-evenly;
    }
    .ordenado{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        
    }

}
@media screen and (max-width: 829px){
    .card{
        background-color: darkorchid;
        display: flex;
        margin-left: 300px;
        
    }
    .ordenado{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        
    }
    .paginado{
       
       position: flex;
       
       flex-direction: row;
       align-items: center;
       justify-content: center;
    }

}

@media screen and (max-width: 815px){
    .card{
        background-color: rgb(168, 204, 50);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
 
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill,350px);
    justify-content: space-between;
    margin: 70px;
    padding-bottom: 20px;
    font-size: 15px;  
   
}


.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
}

.button:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}


.navBar{
    background-color: #0fcaae;
    display: flex;
    justify-content: center;
    
}

.ordenado{
    margin-left: 30px;

}
