@media screen and (max-width: 840px){
    .ordenamientos{
        flex-direction: column;
        display: flex;
     
       
    }
    .input{
        
        height: 30px;
    
    }
    .botones{
        flex-direction: column;
        display: flex;
    }

} 

.bloques{
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #0fcaae;
   
}



/* .search{
    justify-content: center;
    margin: 3%;
    background-color: yellow;
} */
.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
    font-family: Century Gothic, sans-serif;
}

.button:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}
.input{
    height: 50px;
    font-family: Century Gothic, sans-serif;
}
