@media (max-width: 829px){
  
    .paginado{
      
        position: flex;
        height: 30px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
     }
} 

.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
    font-family: Century Gothic, sans-serif;
}

.button:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}