.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
  
}

.button:hover {
    background-color: #0a7969; 
    color: white;
}

.input{
    height: 100%;
   
    
}