
@media screen and (max-width: 840px){
    .search{
        display: flex;
        flex-direction: column;
    }
    .input{
      width: 50px;
    
    }

} 
.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: #0fcaae;
    color: #ffffff;
}
  
.button:hover {
    background-color: #0a7969; 
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}

.input{
    height: 100%;
   
    
}